@import './../../styles/_main.scss';

header {
    background: $primaryColor;
    font-family: $primaryFont;
    font-weight: 700;
    width: 100%;
    height: 140px;
    border-bottom: 3px solid $secondaryColor;
    position: fixed;
    z-index: 4;
}
