header {
  background: #191919;
  font-family: "Assistant Light", sans-serif;
  font-weight: 700;
  width: 100%;
  height: 140px;
  border-bottom: 3px solid #EC4758;
  position: fixed;
  z-index: 4; }
