@import './../../styles/_main.scss';

.board-left, .board-right {
    display: inline-block;
}
.board-left {
    .underline {
        font-family: $primaryFontBold;
        display: block;
        margin: 15px 0 5px 0;
    }
    .member {
        padding-bottom: 3px;
    }
}
.board-right {
    float: right;
}
#board {
    font-family: $primaryFont;
    width: 900px;
    margin: 100px auto;
    text-align: justify;
    line-height: 25px;
}
h1 {
    margin-bottom: 60px;
}
@media (max-width: 968px) {
    .board-left {
        position: absolute;
        margin-top: 65%;
        margin-bottom: 65px;
    }
    .board-right {
        // float: none;
        position: relative;
        width: 100%;
    }
    #board {
        width: 80%;
    }
    h1 {
        text-align: center;
    }
    img {
        width: 100%;
    }
}
